.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.news-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 1rem;

}

.news__body {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.news__footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.news__header {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0.2rem;
}

.news__bookmark-icon {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
}
